body {
  background-image: url('BG.jpeg');
  background-size: cover;
  font-family: Arial, sans-serif;
  background-filter: blur(8px);
  -webkit-background-filter: blur(8px);
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
padding: 20px;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article h2 {
  color: #333;
}

article p {
  color: #666;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: #23527c;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}

